/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); */
/* @import url('http://fonts.cdnfonts.com/css/exo-space'); */
/* @import url('http://fonts.cdnfonts.com/css/cyborg-2'); */

@font-face {
    font-family: 'Exo Space';
    src: url('font/Exo_space.ttf');
}
@font-face {
    font-family: 'Alfa Slab One';
    src: url('font/AlfaSlabOne-Regular.ttf');
}
@font-face {
    font-family: 'CYBORG';
    src: url('font/Cyborg.ttf');
}




/* *{
    font-family: 'Exo Space';
} */
    * {
        cursor: url(arrow/arrow.svg),auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .waviy {
        padding-top: 50px;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        font-size: 40px;
    }

    .waviy span {
        font-family: 'Alfa Slab One';
        display: inline-block;
        color: #fff;
        /* text-transform: uppercase; */
        animation: waviy 2s infinite;
        animation-delay: calc(.1s * var(--i));
    
    }


    @keyframes waviy {
        0%,40%,100% {
            transform: translateY(0)
        }
        20% {
            transform: translateY(-20px)
        }
    }








    .section {
        background-image: linear-gradient(to right bottom,rgba(5,8,16,.6),rgba(5,8,16,.6)),url(image/back.svg);
        background-position: top;
        background-size: cover;
        height: 100vh;
        
        width: 100%;
        text-align: center;
    }

    .bg1 {
        height: 70vh;
        background-color: black;
    }

    .bg2 {
        height: 50vh;
        background-image: -webkit-linear-gradient(30deg, #171d23 50%, #33383d 50%);height: 70vh;
    }

    .spacer {
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.934);
    }

    nav{
        position: sticky;
        top: 0;
    }







    .box11{
        display: flex;
        margin-top: 80px;
    }
    /* .box11>div{
        border: 2px solid red;
    } */
    .box111{
        width: 60%;
        font-family: 'Exo Space';
        font-size: 28px;
        color: #f5f5f5;
        text-align: left;
        padding: 40px;
    }
    .box112{
        width: 40%;
    }
    .box112>img{
        max-width: 60%;
    }
    .wlcm_note{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .rbtn{
        font-family: 'CYBORG';
        background-color: rgb(8,156,8); 
        padding: .8rem 2.5rem; 
        font-size: 20px;    
        background: #14e956;
        background-color: #14e956;
        background-image: linear-gradient(315deg,#14e956,#72f29a);
        border: none;
        border-radius: 7px;
        box-shadow: 9px 7px 32px -11px rgb(20 233 86 / 74%);
        font-size: 2.0rem;
        font-weight: 900;   
        transition: all .3s ease-in-out 0s;                 
    }

    .rbtn:hover{
        border: 2px solid white;
        box-shadow: #14e956 0px 3px 29px 0px;
        
    }

    .rbtn:hover, .rbtn>a:hover{
        cursor: url(arrow/arrow1.svg),auto;
        color: red;
    }
    .rbtn>a{
        text-decoration: none;
        color: black;
    }