
@font-face {
    font-family: 'Exo Space';
    src: url('./font/Exo_space.ttf');
}
@font-face {
    font-family: 'Alfa Slab One';
    src: url('./font/AlfaSlabOne-Regular.ttf');
}
@font-face {
    font-family: 'CYBORG';
    src: url('./font/Cyborg.ttf');  
}




/* *{
    font-family: 'Exo Space';
} */
    * {
        /* cursor: url(arrow/arrow.svg),auto; */
        cursor: url(arrow/gray24.png),auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box; 
    }

    a{
        /* cursor: url(arrow/hand26.png),auto;  */
        text-decoration: none;
        /* color: white; */
    }
    ::-webkit-scrollbar {
        display: none;
    }





    /* ====================== css for box1 ========================= */
    /* ====================== css for box1 ========================= */

    .box1 {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .box10 {
        padding-top: 50px;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        font-size: 40px;
    }

    .box10 span {
        font-family: 'Exo Space';
        display: inline-block;
        /* text-transform: uppercase; */
        animation: box10 2s infinite;
        animation-delay: calc(.1s * var(--i));
    
    }


    @keyframes box10 {
        0%,40%,100% {
            transform: translateY(0)
        }
        20% {
            transform: translateY(-20px)
        }
    }

    .box11{
        display: flex;
        margin-top: 80px;
    }

    .box111{
        width: 60%;
        font-family: 'Exo Space';
        font-size: 28px;
        text-align: left;
        padding: 40px;
    }
    .box112{
        width: 40%;
    }
    .box112>img{
        max-width: 60%;
    }
    .wlcm_note{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .btn_div{
        width: 150px ;
        margin: auto;
    }

    .rbtn{
        font-family: 'CYBORG';
        padding: .6rem 1.5rem; 
        font-size: 20px;
        background-color: #001C55;    
        border: none;
        border-radius: 7px;
        box-shadow: 9px 7px 32px -11px #72351C;
        font-size: 1.5rem;
        font-weight: 900;   
        transition: all .3s ease-in-out 0s; 
        margin-top: 50px;  
                   
    }

    .rbtn:hover{
        border: 3px solid #635e87;
        box-shadow: #001C55 0px 3px 29px 0px;
        
    }

    .rbtn:hover, .rbtn>a:hover{
        cursor: url(arrow/h30.png),auto;
    }
    .rbtn>a{
        text-decoration: none;
        color: #E0E0E0; 
    }


    
    /* ====================== css for box2 ========================= */
    /* ====================== css for box2 ========================= */

    .box2{
        font-family: 'CYBORG';
        margin-top: 0;
        /* height: 70vh; */
        /* background-color: rgba(0, 0, 0, 0.942); */
        /* background-image:linear-gradient(to right, rgb(2, 34, 11),rgb(0, 0, 0)); */
        /* background-image: linear-gradient(to right,rgba(0, 0, 0, 0.771),rgba(8, 20, 54, 0.6)),url(image/back4.jpg); */
        /* background: linear-gradient(#26104594,#3e11117d, #1f1646a3 ),url(image/back4.jpg); */
        /* background-position: top;
        background-size: cover; */

        padding-top: 30px;
        padding-bottom: 30px;
        
    }
    .box21{
        width: 140px;
        margin: auto;
        text-align: center;
    }

    .box21>h1{
        transform: rotate(-3.6deg);
        border-radius: 12px;

        /* color: #535461;
        border: 4px solid #535461; */
        color: #001C55;
        border: 4px solid #001C55;

        /* text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    }

    .box22{
        width: 70%;
        margin: auto;
        margin-top: 50px;
        background-color: #001C55;
        border: 1px solid #989292;
        /* box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 24px, rgba(0, 0, 0, 0.1) 10px 26px 56px, rgba(0, 0, 0, 0.1) 10px 34px 80px; */
        box-shadow: rgba(0, 0, 0, 0.784) 0px 22px 70px 4px;
        border-radius: 12px;
        /* color: white; */
        

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem;
        backdrop-filter: blur(5px);
    }


    .tool {

        border: none;
        border-top: 3px solid rgb(126, 133, 126);
        border-radius: 8px;

        font-size: 1em;
        color: #001C55;
        font-weight: bold;
        background: white;

        display: flex;
        flex: 0 1 15%;
        height: 60px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 1%;
        padding: 5px;

        transform-origin: 50% 5em;
    }

    



    .box22>div>div>img{
        max-width: 40px;
        margin-right: 5px;
    }

    .tool {
        animation: wiggle 2s linear infinite;
        animation-delay: calc(.3s * var(--i));
      }
      
      @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }
      
      




    




    /* ====================== css for box3 ========================= */
    /* ====================== css for box3 ========================= */

    .box3 {
        font-family: 'CYBORG';
        padding: 40px;
    }

    .box31{
        width: 170px;
        /* margin: auto; */
        text-align: center;
        
    }

    .box31>h1{
        padding: 5px;
        transform: rotate(-3.6deg);
        border-radius: 12px;
        color: #001C55;
        border: 4px solid #001C55;
        font-weight: bolder;
    }

    .box32{
        margin-top: 30px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 40px;
        background: transparent;
    }
    .box32>div{
        padding: 10px;
        border-radius: 10px;
    }

    .proimg{
        border: 3px solid #72351C;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-height: 100%;
        max-width: 100%;
        border-radius: 10px;
        /* transition: transform .5s ease; */
        transition: 1s ease;
    }

    

    /* ====================== css for box4 ========================= */
    /* ====================== css for box4 ========================= */

    .box4 {
        height: 50vh;
    }

    nav{
        position: sticky;
        top: 0;
    }









    @media screen and (min-width: 200px) and (max-width: 520px) { 
        .box10>span{
            font-size: 20px;
        }

        .wlcm_note{
            font-size: 20px;
        }

        .box11{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
        .box111{
            width: 100%;
        }
        .some_about{
            font-size: 25px;
        }

        .box112>img{
            display: none;
        }
        .tool{
            margin-top: 10px;
        }
        .box22{
            width: 85%;
        }

    }

    @media screen and (min-width: 521px) and (max-width: 730px){

        .box10>span{
            font-size: 28px;
        }

        .box11{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
        .box111{
            width: 95%;
        }

        .box112>img{
            display: none;
        }

        .tool{
            margin-top: 10px;
        }
        .box22{
            width: 85%;
        }

    }




/* =========flip animation====== */

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #001C55;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: #bbb;
        color: #001C55;
        transform: rotateY(180deg);
        border-radius: 10px;
        border: 2px solid #001C55;
      }


        /* body {
            background: #eee;
        } */

        /* ====hanging animation======= */
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}